@import 'public/src/assets/scss/common/base_list/base';

.mypage__title{
  @include pageBigTitle;
}

.mypage__subtitle{
  font-size: $ft_large;
  line-height: 1.3;
}
.mypage__chart__graph{
  width: 597px;
  height: 276px;
}
.mypage__board{
  margin-top: 120px;
}
.mypage__table{
  margin-top: 5px;
}

.nav__pagination {
  &__link {
    @include pagenation_button(18px);
    vertical-align: sub;
  }

  &__button {
    @include pagenation_button(18px);

  }
}