<aside class="aside__menu">
  <h3 class="aside__menu__title strong">My Page</h3>
  <ul class="aside__menu__list">
    <li class="aside__menu__item">
      <a href="/users/mypage/1" class="link-block" data-location="dashboard">Dashboard</a>
    </li>
    <li class="aside__menu__item">
      <a href="/users/change_profile" class="link-block" data-location="changeInfo">Change your info</a>
    </li>
  </ul>
  <button class="btn aside__menu__button">
    <i class="material-icons">
      menu_open
    </i>
  </button>
</aside>
<script src="/dist/assets/js/common/components/partial/aside.js"></script>