<aside class="aside__menu">
  <h3 class="aside__menu__title strong">My Page</h3>
  <ul class="aside__menu__list">
    <li class="aside__menu__item">
      <a href="" class="link-block active strong">Dashboard</a>
    </li>
    <li class="aside__menu__item">
      <a href="" class="link-block">Modify profile</a>
    </li>
  </ul>
</aside>