<!-- Footer -->
<footer class="page-footer font-small footer">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

        <!-- Links -->
        <ul class="list-unstyled footer__list text-center">
          <li class="list-inline-item footer__list__item">
            <a href="" class="ft-white strong">About us</a>
          </li>
          <li class="list-inline-item footer__list__item">
            <a href="/board/freeboard" class="ft-white strong">Free Board</a>
          </li>
          <li class="list-inline-item footer__list__item">
            <a href="" class="ft-white strong">FAQ</a>
          </li>
          <li class="list-inline-item footer__list__item">
            <a href="" class="ft-white strong">Contact</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center">All rights reserved by SoheeP
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->