<nav class="navbar navbar-expand-lg header__nav ">
  <div class="navbar-collapse">
    <ul class="navbar-nav justify-content-start mr-auto">
      <li class="nav-item">
        <a class="nav-link ft-white header__link strong" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ft-white header__link strong" href="/movie/list">Movie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ft-white header__link strong" href="/play/list">Play</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ft-white header__link strong" href="/musical/list">Musical</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link ft-white header__link strong" href="/auth/signup">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ft-white header__link strong" href="/auth/signin">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ft-white header__link strong" href="/users/mypage">My page</a>
      </li>
    </ul>
  </div>
</nav>