body{
  background-color: $dark_gray;
  color: #ffffff;
  font-family: 'Red Hat Display', sans-serif, 'Nanum Gothic', sans-serif;
}

.wrap{
  width: 1440px;
  margin: auto;
}

.margin-none{
  margin: 0 !important;
}
.padding-none{
  padding: 0 !important; 
}
.text-center{
  text-align: center;
}

.hidden{
  display: none;
}
.strong{
  font-weight: bold ;
}

.ft-white{
  color: #fff;
  transition: all .2s;
  &:hover{
    color: $pointColor_yellow;
  }
}