body{
  background-color: $dark_gray;
  color: #ffffff;
  font-family: 'Red Hat Display', sans-serif, 'Nanum Gothic', sans-serif;
}

.wrap{
  @include respond-to('small'){
    width: 420px;
  };
  @include respond-to('medium'){
    width: 680px;
  };
  @include respond-to('large'){
    width: 860px;
  };
  @include respond-to('extraL'){
    width: 960px;
  };
  @include respond-to('extraL'){
    width: 1440px;
  };
  margin: auto;
}

.material-icons{
  vertical-align: middle;
}

.margin-none{
  margin: 0 !important;
}
.padding-none{
  padding: 0 !important; 
}
.text-center{
  text-align: center;
}

.hidden{
  display: none;
}
.strong{
  font-weight: bold ;
}

.ft-white{
  color: #fff;
  transition: all .2s;
  &:hover, &:active, &:focus{
    color: $pointColor_yellow;
  }
}
.line{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  z-index: -1
}

.link-block{
  display: block;
}

