//Layout style like header, footer, sidebar etc.

// header
.header__nav{
  background-color: $pointColor_red;
  height: 70px;
  color: #fff;
  @include clearFloat;
}

//footer
.footer{
  background-color: $pointColor_red;
  height: 150px;
  margin-top: 120px;
}

.footer__list{
  padding: 50px 0 30px;
  &__item{
    font-size: $ft_medium;
    padding-right: 45px;
  }
}
