$pointColor_red: #8C1127;
$pointColor_yellow: #D9AB73;
$light_grey: #C4C4C4;
$dark_grey: #333333;

$ft_pgTitle: 48px;
$ft_title: 36px;
$ft_large: 24px;
$ft_medium: 20px;
$ft_small: 18px;
$ft_xsmall: 14px;