$pointColor_red: #8C1127;
$pointColor_red_dark: #780C1F;
$pointColor_yellow: #D9AB73;
$pointColor_yellow_dark: #C79961;
$light_gray: #C4C4C4;
$light_dark_gray: #828282;
$dark_gray: #333333;


$ft_pgTitle: 48px;
$ft_title: 36px;
$ft_large: 24px;
$ft_medium: 20px;
$ft_small: 18px;
$ft_xsmall: 14px;

$breakpoints: (
  'extraXS':  320px,
  'extraS':  420px,
  'small':  540px,
  'medium': 720px,
  'large':  960px,
  'extraL': 1140px,
  'extraXL': 1520px,
) !default;