@import 'public/src/assets/scss/common/base_list/base';

.faq__title{
  @include pageBigTitle;
}

.section__faq{
  &__header {
    background-color: $pointColor_red;
    padding: 0;
    h2{
      padding: 10px 20px;
    }
  }
  &__contents{
    background-color: $light_gray;
    font-size: $ft_medium;
    line-height: 1.3;
    color: #000;
  }
  .card{
    border:none; 
    margin: 20px 0;
  }
  .btn-link{
    width: 100%;
    color: #fff;
    text-align: left;
  }

}